
<html>
<link rel='stylesheet' href='/stylesheets/stylet3.css' />
<body>

    
    <div align="center">
    	<%if((typeof search_tweets != 'undefined') && search_tweets != ""){%>
    	<% for(var i = 0; i < search_tweets.length; i++){ %>
    	<h1><%=search_tweets[i].raw_text%> by @<%=search_tweets[i].user_name%></h1>
    	<%}%>
    	<%}%>
    </div>
</body>
</html>