<!DOCTYPE html>
  <head>
        
  <link rel="stylesheet" href="https://abs.twimg.com/a/1458071669/css/t1/twitter_core.bundle.css">
  <link rel="stylesheet" href="https://abs.twimg.com/a/1458071669/css/t1/twitter_more_1.bundle.css">
  <link rel="stylesheet" href="https://abs.twimg.com/a/1458071669/css/t1/twitter_more_2.bundle.css">

  <link rel="dns-prefetch" href="https://pbs.twimg.com">
  <link rel="dns-prefetch" href="https://t.co">
  <link rel="preload" href="https://abs.twimg.com/c/swift/en/init.c3654d419ee7b40d1584326139930cac04c77b2a.js" as="script">
  <link rel="preload" href="https://abs.twimg.com/c/swift/en/bundle/timeline.554ed014858f8ca1d1ca2a1f1c267da484bebe35.js" as="script">
  <link rel="preload" href="https://abs.twimg.com/c/swift/en/bundle/boot.3cee1e3331adc0452150db50ff223101fc193714.js" as="script">
  <title>Twitter</title>
  <link rel="mask-icon" sizes="any" href="https://abs.twimg.com/a/1458071669/img/t1/favicon.svg" color="#55acee">
  <link href="//abs.twimg.com/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="manifest" href="/manifest.json">

  <meta name="swift-page-name" id="swift-page-name" content="home">
    <link rel="canonical" href="https://twitter.com/">
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Twitter">
    <link id="async-css-placeholder">
    <input type="hidden" class="swift-boot-module" value="app/pages/home">
    <input type="hidden" id="swift-module-path" value="https://abs.twimg.com/c/swift/en">
  <script src="https://abs.twimg.com/c/swift/en/init.c3654d419ee7b40d1584326139930cac04c77b2a.js" async></script> 
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script src="angularjs/homePage.js"></script>
  

  </head>
  <body class="three-col logged-in user-style-iammohit12 enhanced-mini-profile" 
data-fouc-class-names="swift-loading"
 dir="ltr" ng-app="homePage" ng-controller="homePage">

    <div id="doc" class="route-home">
        <div class="topbar js-topbar">
    
    <div class="ProfilePage-editingOverlay"></div>

  <div class="global-nav" data-section-term="top_nav">
    <div class="global-nav-inner">
      <div class="container">
        
<h1 class="Icon Icon--bird bird-topbar-etched" style="display: inline-block; width: 24px; height: 21px;">
  <span class="visuallyhidden">Twitter</span>
</h1>
  
  <div role="navigation" style="display: inline-block;"><ul class="nav js-global-actions" id="global-actions"><li id="global-nav-home" class="home active" data-global-action="home">
      <a class="js-nav js-tooltip js-dynamic-tooltip" data-placement="bottom" href="/homepage1" data-component-context="home_nav" data-nav="home">
        <span class="Icon Icon--home Icon--large"></span>
        <span class="text">Home</span>
      </a>
    </li></ul>
</div>

<div class="pull-right" style="display: inline-block;">
<div role="search">
  <form class="t1-form form-search js-search-form" id="global-nav-search">
  
    <label class="visuallyhidden" for="search-query">Search query</label>
    <input class="search-input" type="text" id="search-query" ng-model="search" placeholder="Search Twitter" name="search" autocomplete="off" spellcheck="false">
    <span class="search-icon js-search-action">
      <button type="submit" class="Icon Icon--search nav-search" ng-click="searchtweet();">
        <span class="visuallyhidden">Search Twitter</span>
      </button>
    </span>
      
  </form>
</div>
<ul class="nav right-actions">
<li class="me dropdown session js-session" data-global-action="t1me" id="user-dropdown">
<a href="/index2"><img style="margin-top: 7px;margin-left: 15px;"class="avatar size32" src="https://abs.twimg.com/sticky/default_profile_images/default_profile_4_normal.png" alt="Profile and settings" data-user-id="703806129919250432"></a>
      <div class="dropdown-menu">
  <div class="dropdown-caret">
    <span class="caret-outer"></span>
    <span class="caret-inner"></span>
  </div>
  <ul>
    
    <li class="current-user" data-name="profile">

  </ul>
</div>

    <li role="complementary" aria-labelledby="global-new-tweet-button" class="topbar-tweet-btn" style="margin-left: 15px;">
        <button id="global-new-tweet-button" type="button" class="js-global-new-tweet js-tooltip btn primary-btn tweet-btn js-dynamic-tooltip" data-placement="bottom" data-component-context="new_tweet_button">
          <span class="Icon Icon--tweet Icon--large"></span>
          <span class="text">LogOut</span> 
          <a href="/logout">LogOut</a>
        </button>
      </li></ul></div>

      </div>
    </div>
  </div>
</div>

 <div id="page-outer">
   <div id="page-container" class="AppContent wrapper wrapper-home">
       
     <div class="dashboard dashboard-left">

      <div class="DashboardProfileCard  module">

    <a class="DashboardProfileCard-bg u-bgUserColor u-block"
      href="/iammohit12"
      tabindex="-1"
      aria-hidden="true">
    </a>

    <div class="DashboardProfileCard-content">

        
          <div class="DashboardProfileCard-avatarContainer">
            <div id="choose-photo" class="controls avatar-settings inline-upload-avatar dropdown center">
              <a class="DashboardProfileCard-avatarLink ProfileAvatar-placeholder u-inlineBlock js-nav js-tooltip profile-picture js-dropdown-toggle"
                  href="/iammohit12"
                  title="Add an avatar"
                  tabindex="-1" aria-hidden="true"
                  data-placement="top"
                  data-scribe-element="profile_avatar">
                  <div class="DashboardProfileCard-avatarImage u-borderUserColorLightHover u-bgUserColor" data-avatar-placeholder="true">
                    <span class="Icon Icon--cameraPlus Icon--extraLarge"></span>
                  </div>
                  <img class="DashboardProfileCard-avatarImage js-action-profile-avatar" src="pics/profile.jpg" alt="" style="display:none">
              </a>

                  <div class="uploader-image uploader-avatar clearfix">
                      <div class="dropdown-menu"></div>
                      
<div class="webcam-detect swf-container"></div>

                  </div>
            </div>
          </div>

      <div class="DashboardProfileCard-userFields">
        <div class="DashboardProfileCard-name u-textTruncate">
          <a class="u-textInheritColor" href="">{{fullName}}</a>
        </div>
        <span class="DashboardProfileCard-screenname u-inlineBlock u-dir" dir="ltr">
          <a class="DashboardProfileCard-screennameLink u-linkComplex u-linkClean" href="/iammohit12">@<span class="u-linkComplex-target">{{name1}}</span></a>
        </span>
      </div>

          <div class="ProfileCardStats">
    <ul class="ProfileCardStats-statList Arrange Arrange--bottom Arrange--equal"><li class="ProfileCardStats-stat Arrange-sizeFit">
        <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav"
            title="1 Tweet"
            href="/iammohit12"
            data-element-term="tweet_stats">
          <span class="ProfileCardStats-statLabel u-block">Tweets</span>
          <span class="ProfileCardStats-statValue" data-is-compact="false">{{count}}</span>
        </a>
      </li><li class="ProfileCardStats-stat Arrange-sizeFit">
          <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav"
              title="49 Following"
              href="/iammohit12/following"
              data-element-term="following_stats">
            <span class="ProfileCardStats-statLabel u-block">Following</span>
            <span class="ProfileCardStats-statValue" data-is-compact="false">{{following}}</span>
          </a>
        </li><li class="ProfileCardStats-stat Arrange-sizeFit">
          <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav"
              title="4 Followers"
              href="/iammohit12/followers"
              data-element-term="follower_stats">
            <span class="ProfileCardStats-statLabel u-block">Followers</span>
            <span class="ProfileCardStats-statValue" data-is-compact="false">{{followers}}</span>
          </a>
        </li>
    </ul>
  </div>
          <div id="dashboard-profile-prompt"></div>
    </div>
  </div>
</div>


<div role="main" aria-labelledby="content-main-heading" class="content-main top-timeline-tweetbox" id="timeline">



  <div class="timeline-tweet-box">
    <div class="home-tweet-box tweet-box component tweet-user">
        <img class="top-timeline-tweet-box-user-image avatar size32" src="https://abs.twimg.com/sticky/default_profile_images/default_profile_4_normal.png" alt="">
        
 

      <input type="hidden" value="" name="use_tweet_ui_metrics">
    <img class="inline-reply-user-image avatar size32" src="https://abs.twimg.com/sticky/default_profile_images/default_profile_4_normal.png" alt="">
  <span class="inline-reply-caret">
    <span class="caret-inner"></span>
  </span>

  <div class="tweet-content">
      <div class="TweetBox-photoIntent"></div>
    <div class="icon add-photo-icon hidden"></div>
    
    <span class="icon nav-tweet hidden"></span>
    <div class="tweet-drag-help tweet-drag-photo-here hidden"></div>
    <span class="visuallyhidden" id="tweet-box-home-timeline-label">Tweet text</span>

    <div class="RichEditor">
  
  <div class="RichEditor-mozillaCursorWorkaround">&nbsp;</div>
  <div class="RichEditor-scrollContainer">
    <div ng-click="insertTweet();"> 
     <!-- <form method="post" action="/insertTweet"> -->
      <textarea required class="form-control" maxlength="140" style="width:98%" rows="3" placeholder="What's happening?" ng-model="tweet_box" name="tweet_box" aria-describedby="basic-addon1"></textarea>
      <div class="TweetBoxToolbar-tweetButton tweet-button" align="right">
	<input type="submit"  value="Tweet" class="btn primary-btn  tweet-btn js-tweet-btn" >
      </div><br/>
     <!--  </form>  -->
      
      

      <div class="RichEditor-pictographs" aria-hidden="true"></div>
      
  </div>
    

</div>
    
 <div role="listbox" class="dropdown-menu typeahead">
  <div aria-hidden="true" class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
</div> 
    <textarea aria-hidden="true" class="tweet-box-shadow hidden" name="status"></textarea>
    <div class="thumbnail-container">
</div>
        
    <div class="tweet-box-overlay"></div>
  </div>


    </div>
  </div>

  <div class="content-header visuallyhidden">
    <div class="header-inner">
      <h2 id="content-main-heading" class="js-timeline-title">Tweets</h2>
    </div>
  </div>
  
   <div class="stream-container conversations-enabled "
    data-max-position="710373121094787073" data-min-position="710320175958994944">

    <div class="stream">
        <ol class="stream-items js-navigable-stream" id="stream-items-id">
          
      <li class="js-stream-item stream-item stream-item expanding-stream-item" data-item-id="710352016556462080" id="stream-item-tweet-710352016556462080" data-item-type="tweet">
    <ol role="presentation" class="expanded-conversation expansion-container js-expansion-container js-navigable-stream">
  <li role="presentation" class="original-tweet-container">
    
        <div class="stream-footer ">
  <div class='timeline-end has-items has-more-items'>
    <div class="stream-end">
  <div class="stream-end-inner">
      <span class="Icon Icon--large Icon--logo"></span>

  </div>
</div>

<div ng-hide="searchwadu">
    <div class="stream-loading" ng-repeat="t in tweets" >

	    
  <div class="stream-end-inner" align="left">
  
  <h3><strong class="fullname js-action-profile-name show-popup-with-id" data-aria-label-part></strong>
    <span>&rlm;</span><span class="username js-action-profile-name" data-aria-label-part><s>@</s><b>{{t.user_name}}  </b></span>
<!--   <p align="left"><a>{{t.tweetData.plainText}}</a><a href="">{{t.tweetData.hashTag}}</a></p> --></h3>
  	<h5 align-"left">{{t.raw_text}}</h5>
      <p parse-hash="hash" ng-model="text"></p>
      
      <div class="stream-item-footer">
    
    <div class="ProfileTweet-actionList js-actions" role="group" aria-label="Tweet actions">
      <div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
   <button class="ProfileTweet-actionButton  js-actionButton js-actionRetweet"
    
    data-modal="ProfileTweet-retweet"
    type="button" ng-click="retweet(tweet.ID);">
    <div class="IconContainer js-tooltip" title="Retweet">
      <span class="Icon Icon--retweet" ></span>
      {{t.retweet_count}}
    </div>
  </button> 
 <!--  <input type="submit" style="color:white" class="ProfileTweet-actionButton  js-actionButton js-actionRetweet" value="retweet" ng-click="retweet(tweet.ID);"> -->
</div>
</div>
    </div>
  </div>
  
</div>
</div>

<div ng-hide="tweetshide">
    <div class="stream-loading" ng-repeat="tweet in tweets" >

	    
  <div class="stream-end-inner" align="left">
  
 <h3> <strong class="fullname js-action-profile-name show-popup-with-id" data-aria-label-part>{{tweet.fullname}}</strong>
    <span>&rlm;</span><span class="username js-action-profile-name" data-aria-label-part><s>@</s><b>{{tweet.user_name}} </b></span>
    </h3>
   <!-- 
    <div ng-repeat="t in tweetArray1">
    <p align="left">{{t.plainText}}<a href="">{{t.hashTag}}</a></p>
     </div> -->
        <h5 align="left">{{tweet.raw_text}}</h5>
      
      <div class="stream-item-footer">
    
    <div class="ProfileTweet-actionList js-actions" role="group" aria-label="Tweet actions">
      <div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
   <button class="ProfileTweet-actionButton  js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button" ng-click="retweet(tweet.tweetID);">
    <div class="IconContainer js-tooltip" title="Retweet">
      <span class="Icon Icon--retweet" ></span>
      
    </div>
    <div class="IconTextContainer">
        <span class="ProfileTweet-actionCount">
          <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">{{tweet.retweet_count}}</span>
        </span>
      </div>
  </button> 
 <!--  <input type="submit" style="color:white" class="ProfileTweet-actionButton  js-actionButton js-actionRetweet" value="retweet" ng-click="retweet(tweet.ID);"> -->
</div>
</div>
    </div>
  </div>
  
</div>
</div>

  </div>
  
</div>

</div>

  </div>
  </div>
</li>
</ol>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div style="margin-left: 72%;margin-bottom: 90%;position: relative;top:-90%;">
        <div class="flex-module" align="left" >
            <div class="flex-module-header">
                <h3>Who to follow</h3>
            </div>

            <div class="js-recommended-followers dashboard-user-recommendations flex-module-inner" data-section-id="wtf" style="opacity: 1;">
            <div class="js-account-summary account-summary js-actionable-user promoted-account js-profile-popup-actionable " data-user-id="1394399438" data-feedback-token="38" data-impression-id="46b1d29ed9bf8269" data-impression-cookie="[&quot;1394399438&quot;,&quot;46b1d29ed9bf8269&quot;,&quot;promoted&quot;,&quot;&quot;,[],&quot;&quot;]">
           
                <div class="content" ng-repeat="u in users" ng-hide="kapas">
                    <a class="account-group js-recommend-link js-user-profile-link user-thumb" href="/JohnLegere" data-user-id="1394399438">

                      
      <span class="account-group-inner js-action-profile-name" data-user-id="1394399438">
        <b class="fullname">{{u.full_name}}</b>
        <span class="username"><s>@</s><span class="js-username">{{u.user_name}}</span></span>
      </span>
                    </a>
                    <small class="metadata social-context">
                    </small>

                    <div class="user-actions not-following not-muting" data-user-id="1394399438">
                        <button type="button" class="small-follow-btn follow-btn btn small follow-button js-recommended-item" ng-click="follow(u.user_name);">
                            <div class="js-action-follow follow-text action-text">
                                <span class="Icon Icon--follow"></span>
                                Follow
                            </div>
                        </button>
                    </div>
                    <br/>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>

  </body>
</html>